fastapi==0.111.*
uvicorn[standard]
sqlalchemy==2.0.*
alembic
asyncpg
pydantic[email]==2.*
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
httpx
aiosmtplib
slowapi
python-multipart
pydantic-extra-types
email-validator
geoalchemy2
scikit-learn==1.6.1
numpy
pandas
joblib
pytest
pytest-asyncio